

nav ul {
  list-style-type: none;
  display: flex;
}

header {
  background-color:#333;
  padding: 30px 30px;
  height: 10%;
  width: auto;
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
  margin: 0;
}


.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-list a.active {
  text-decoration: none;
  color: #cf8e4e;
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
  border-radius: 6px;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
}

.nav-list a:hover:not(.active) {
  background: rgba(255, 255, 255, 0.05);
  color: #cf8e4e;
}


.avatar {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
}

#carticon {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

 

body {
  margin: 0;
  padding: 0;
}

.page-content {
  padding-top: 90px; /* navbar height */
  min-height: 100vh;
  background: url("") center / cover no-repeat;
}